name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  GHCR_ORG: avarcorg
  MATTERMOST_BOT_USERNAME: avarc-chatopts-bot  
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Pack CLI
        uses: buildpacks/github-actions/setup-pack@v5.10.0

      - name: Display Pack CLI
        run: pack --version

      - name: Set up Pack Tools
        uses: buildpacks/github-actions/setup-tools@v5.10.0

      - name: Display Pack Tools
        run: yj -v

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Get short Git commit SHA
        id: vars
        run: echo "::set-output name=commit_sha::$(git rev-parse --short HEAD)"

      - name: Get current timestamp
        id: created
        run: echo "::set-output name=created::$(date --utc +%Y-%m-%dT%H:%M:%SZ)"

      - name: Build Docker Image
        run: |
          docker build \
            --build-arg GITHUB_REPOSITORY=${{ github.repository }} \
            --build-arg GIT_COMMIT_SHA=${{ steps.vars.outputs.commit_sha }} \
            --build-arg VERSION=latest \
            --build-arg CREATED=${{ steps.created.outputs.created }} \
            -t ghcr.io/${{ env.GHCR_ORG }}/avarc-chatops-bot:latest \
            -t ghcr.io/${{ env.GHCR_ORG }}/avarc-chatops-bot:${{ steps.vars.outputs.commit_sha }} \
            .

      - name: Inspect Docker image labels
        run: |
          echo "Inspecting labels for latest image:"
          docker inspect --format='{{json .Config.Labels}}' ghcr.io/${{ env.GHCR_ORG }}/avarc-chatops-bot:latest | jq

      - name: Push Docker Image
        run: |
          echo
          docker images | grep -v "IMAGE ID" | sort
          docker push ghcr.io/${{ env.GHCR_ORG }}/avarc-chatops-bot:latest

      - name: Notify Mattermost - Success
        if: success()
        uses: mattermost/action-mattermost-notify@master
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
          MATTERMOST_CHANNEL: ${{ secrets.MATTERMOST_CHANNEL }}
          MATTERMOST_USERNAME: ${{ env.MATTERMOST_BOT_USERNAME }}
          TEXT: |
            AvArc ChatopsBot - Build successful! :rocket:
            [View build details](${{
              github.server_url }}/${{
              github.repository }}/actions/runs/${{
              github.run_id }})

      - name: Notify Mattermost - Failure
        if: failure()
        uses: mattermost/action-mattermost-notify@master
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
          MATTERMOST_CHANNEL: ${{ secrets.MATTERMOST_CHANNEL }}
          MATTERMOST_USERNAME: ${{ env.MATTERMOST_BOT_USERNAME }}
          TEXT: |
            AvArc Chatops Bot - Build failed! :x:
            [View build details](${{
              github.server_url }}/${{
              github.repository }}/actions/runs/${{
              github.run_id }})
